div#app {
  display: flex;
  flex-flow: row wrap;
  width: 918px;
  background-color: dimgrey;

  div {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 1px;
    font-size: 5em;
    text-align: center;
  }
}
